body {
    margin: 0;
}
.container {   
    background-image: url("court.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;    
}
#scoreboard-body{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.players{
    font-size: 2.5rem;
     margin-top: 40px;
     margin-bottom: 5px;
     color: #9AABD8;
     opacity: 70%;
     background-color: black;
}
#home-leader, #guest-leader{
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 25px;
    height: 1rem;
}
h5{
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: 1rem;
}
.score{
    background-color: #080001;
    opacity: 70%;
    color: #F94F6D;
    height: 100px;
    width: 155px;
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding:10px 0px;
    border-radius:5px;   
    font-family: 'Cursed Timer ULiL', sans-serif;
}
button{
    width:45px;
    height:45px;
    margin:3px;
    border-radius:5px;
    color: #9AABD8;
    opacity: 80%;
    background-color: #1B244A;
    border: 1px solid #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;   
}

button:hover {
    color: #FFF;
}

#new-gameBtn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 110px;
    margin-top: 2rem;
    margin-left: calc(50% - 55px);
    
}